@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
@mixin font-zh($wt, $sz) {
    //wt is in 400, 500, 700, 900
    font-family: "Noto Serif TC", serif;
    font-weight: $wt;
    font-size: $sz;
}